<div class="container col-6 rounded mb-2 mt-2">
  <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="success" aria-label="Close"></button>
      <%= msg %>
    </div>
  <% end %>
</div>
