<footer id="sticky-footer" class="fixed-bottom mt-auto py-3 bg-dark text-center" >
    <div class="container">
        <span class="text-light">Giorgos Panaretou since 1997.</span>
    </div>
</footer>